   <div class="container-fluid login-cont">
        <div class="sub-container">
            <div class="inner">
                <form action="" method="post" enctype="multipart/form-data">
                    <h2 class="text-center">Add Category</h2>
                    <br>
                    <input class="form-control2" type="file" name="badge" required>
                    <br>    
                     <input class="form-control2" type="text" name="Name" placeholder="Enter Banner Name" required>
                    <br>             
                    <input type="submit" value="Add Banner" class=" btn btn-success mt-2">
                    <br>
                    <span class="text-danger">{{message}}</span>
                    <br><br>
                    <a href="/admin/banner" class="text-dark">Back</a>
                </form>
            </div>
        </div>
    </div>