<Section>
    <div class="container-fluid login-cont">
        <div class="sub-container">
            <div class="inner address">
                <form action="" method="post">
                    <h2 class="text-center text-warning">Magic Book</h2>
                    <span class="text-danger">{{message}}</span>
                    <br>
                    <h4 class="text-center">Add address</h4>
                    <br>
                    <input class="form-control" type="text" name="name" placeholder="Enter Name"
                        pattern="^[A-Za-z]+(([,.] |[ '-])[A-Za-z]+)*([.,'-]?)$" required>
                    <br>
                    <input class="form-control" type="text" name="number" placeholder="Enter Mobile Number"
                         required>
                    <br>
                    <input class="form-control" type="text" name="house" placeholder="Enter House no. Building name"
                         required>
                    <br>
                    <input class="form-control" type="text" name="city" placeholder="Enter City / Town"
                         required>
                    <br>
                    <input class="form-control" type="text" name="state" placeholder="Enter Your State"
                        required>
                    <br>
                    <input class="form-control" type="text" name="country" placeholder="Enter Your Country"
                         required>
                    <br>
                    <input class="form-control" type="text" name="pincode" placeholder="Enter Your Pincode"
                         required>
                    <br>
                    
                    <input type="submit" value="Add address" class=" btn btn-success form-control mt-2">
                </form>
            </div>
        </div>
    </div>
</Section>