{{!-- <section>
     <div class="container-fluid login-cont">
        <div class="sub-container">
            <div class="inner">
                <form action="" method="post">
                    <h1 class="text-center text-warning">Magic Book</h1>
                    <br>
                    <span class="text-danger">{{message}}</span>
                    <br>
                    <input type="email"  class="form-control" id="email"  name="email" placeholder=" Enter your registered email"  required="">
                    <br>
                    <input type="submit" value="submit" class="btn btn-dark form-control ">
                </form>
            </div>
        </div>
    </div>
</section> --}}


{{!-- template --}}



<div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
            <form action="" method="post">
                   <div class="form-outline">
            <label class="form-label" for="typeEmail">Email input</label>
            <input type="email" id="email" name="email" class="form-control my-3" />
            
        </div>
        <a href="#" class="btn btn-primary w-100">Reset password</a>
        </form>
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="/login">Login</a>
            <a class="" href="/register">Register</a>
        </div>
    </div>
</div>