<section>
     <div class="container-fluid login-cont"> 
        <div class="sub-container">
            <div class="inner">
                <form action="" method="post">
                    <h1 class="text-center text-warning">Magic Book</h1>
                    <br>
                    <span class="text-danger">{{message}}</span>
                    <br>
                    <input type="password" name="password" placeholder="Enter password"  class="form-control" required>
                    
                    <input type="hidden" name="user_id" value="{{user_id}}" >
                    <br>
                    <input type="submit" value="Verify" class="btn btn-dark ">
                    <br>
                </form>
            </div>
        </div>
    </div>
</section>