<section>
     <div class="container-fluid login-cont">
        <div class="sub-container">
            <div class="inner">
                <form action="" method="post">
                    <h1 class="text-center text-warning">Magic Book</h1>
                    <br>
                    <span class="text-danger">{{message}}</span>
                    <br>
                    <input type="email"  class="form-control" id="email"  name="email" placeholder=" Enter your registered email"  required="">
                    <br>
                    <input type="submit" value="submit" class="btn btn-dark form-control ">
                </form>
            </div>
        </div>
    </div>
</section>